//output:index.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/skeleton.css")
	link(rel="stylesheet", href="css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	link(href='https://fonts.googleapis.com/css?family=Slabo+27px' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	meta(charset='utf-8')
	body

		.container
			.row
				.six.columns 
				.six.columns 
					.logo
						a Hello
		
		
			.posts
				.row
					.twelve.columns
						ul
							a(href="#")
								li Blah
							a(href="posts/rock-paper-scissors.html")
								li Rock Paper Scissors
							a(href="posts/helloworld.html")
								li Hello World
<<<<<<< HEAD
=======
					
					
>>>>>>> c5b69b42371b3d1157989871f5d5b81faf666db6
