//output:index.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/skeleton.css")
	link(rel="stylesheet", href="css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	link(href='https://fonts.googleapis.com/css?family=Slabo+27px' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	meta(charset='utf-8')
	body

	.container
		.whitebox
			.topbar
				p . . .
			.container
			p.center
				a.button(href="index.html#about") About Me
				a.button(href="index.html#portfolio") Portfolio
				a.button(href="blog.html#blog") My Blog
				a.button(href="index.html#contact") Contact
				.header
					p.center
						a(href="index.html")
							img(src='images/profile.png')
				
				.subsitle
					p.center.tan EAT | SLEEP | CODE | REPEAT
					
			.container
				
				
		.aboutbox
			p I am a 21 year old graphic design student living in the beautiful North West. Web design and web development have always been interesting to me. It all started in 9th grade when my parents tried out this online school program and I would spend my time following Photoshop tutorials instead of working on my Shakespeare homework. From there, I started looking more into design and got into web design. In the last two or so years I took some courses on HTML and CSS and made several websites with that knowledge. I'm currently enrolled in the Epicodus bootcamp where I will be studying for the next couple of months. I enjoy trying out new recipes, listening to podcasts, playing around with photoshop, and catching up on my favorite shows.
			
		.maincontent
			.subsitle
				p.center.tan PORTFOLIO
			.row.center
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
			.row.center
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
			.row.center
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				.box.one-third.column(href="http://5adiyah.github.io/jspractice/", target="_blank")
					p Js Onclick Practice
				
