//output:javascript-basics.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="../css/normalize.css")
	link(rel="stylesheet", href="../css/skeleton.css")
	link(rel="stylesheet", href="../css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	meta(charset='utf-8')
	body

		.container
			.row
				.six.columns 
				.six.columns 
					.logo
						a Hello
		
		.container
			.posts
				.row
					.six.columns
						p.title Javascript Basics
						p.date 
						p I  just got done with the Javascript basics.(The Odin Project has you do sections 1-5 of the Codecademy Javascript course.)
						p I think I’m pretty confident about most of it except for the last section which I’ve kind of hurried through. Hopefully trying the Project Euler assignments will help me figure out what I do and don’t know.
						p Hours completed so far: 6 hours
				.back
					a(href="../index.html") Back	
