//output:rock-paper-scissors.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="../css/normalize.css")
	link(rel="stylesheet", href="../css/skeleton.css")
	link(rel="stylesheet", href="../css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	meta(charset='utf-8')
	body

		.container
			.row
				.six.columns 
				.six.columns 
					.logo
						a Hello
		
		.container
			.posts
				.row
					.six.columns
						p.title Rock Paper Scissors
						p.date 
						p Time is currently 1:50 AM and I’ve finally completed the Rock, Paper, Scissors game in the codecademy Javascript lesson. It was a little frustrating getting errors and not being able to figure out what was causing them.This website helped me out a lot though. 
				
				.back
					a(href="../index.html") Back	
